html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    width: 100vw;
    min-height: 100vh;
    background: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons {
    position: absolute;
    top: 10px;
    opacity: .7;
}